.main-table__container {
  width: 60%;
  margin: 0 auto;
}

table {
  width: 100%;
}

// mat-header-cell {
//   justify-content: center !important;
// }

// td.mat-cell {
//   text-align: center !important;
// }
